*.elc
*.eln
*~
\#*\#
.\#*
auto-save-list/
elpa/
eln-cache/
transient/
eshell/
projectile-bookmarks.eld
custom.el
bookmarks
recentf
url/
gnupg/
org-clock-save.el
org-id-locations
org-persist/
.tramp
.cache/
.lsp-session-v1
.history
